[submodule "pomelo-jsclient-websocket"]
	path = pomelo-jsclient-websocket
	url = https://github.com/pomelonode/pomelo-jsclient-websocket.git
[submodule "pomelo-protobuf"]
	path = pomelo-protobuf
	url = https://github.com/pomelonode/pomelo-protobuf.git
[submodule "pomelo-protocol"]
	path = pomelo-protocol
	url = https://github.com/NetEase/pomelo-protocol.git
[submodule "emitter"]
	path = emitter
	url = https://github.com/component/emitter.git
