[submodule "lib/pomelo-jsclient-websocket"]
	path = lib/pomelo-jsclient-websocket
	url = https://github.com/pomelonode/pomelo-jsclient-websocket.git
[submodule "lib/pomelo-protobuf"]
	path = lib/pomelo-protobuf
	url = https://github.com/pomelonode/pomelo-protobuf.git
[submodule "lib/pomelo-protocol"]
	path = lib/pomelo-protocol
	url = https://github.com/NetEase/pomelo-protocol.git
[submodule "lib/emitter"]
	path = lib/emitter
	url = https://github.com/component/emitter.git
